{% extends "base.html.twig" %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-4">{{ article.title }}</h1>

		<p class="text-muted">Published on
			{{ article.createdAt | date('d/m/Y à H:i') }}</p>

		<div class="mb-4">{{ article.intro }}</div>

		<img class="img-fluid mb-4" src="{{ article.image }}" alt="Photo de l'article {{ article.title }}">

		<div class="mb-4">
			{{ article.content | raw }}
		</div>
		<div class="container">
			<div class="comment-section border p-3 mb-4">
				<h4 class="comment-heading">Comments</h4>
				<p class="text-muted mb-0 comment-prompt">
					<i class="fas fa-comments"></i>
					Be the first to comment!
				</p>
			</div>
		</div>


	{% endblock %}
